/* ____________________global_______________ */
:root{
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-gray: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-gray-light: #E5E5E5;
    --basic-white: #FFFFFF;
  
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
    --special-yellow: #F7E296;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
body{
    min-width: 1460px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--basic-black);
} 
img{
    max-width: 100%;
    height: auto;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
ul, li, button, input{
    margin: 0;
    padding: 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* _________________common_____________ */
header{
    background-color: var(--special-yellow);
    width: 1160px;
    height: 344px;
    padding: 0;
    margin: 20px auto 0px;
    background: linear-gradient(to top, var(--basic-white) 7%, var(--special-yellow) 7% 94.4%, var(--basic-white) 94.4% 100%);
}
.header-catalog{
    height: auto;
    padding-bottom: 50px;
    margin-bottom: 44px;
    background: linear-gradient(to top, var(--special-yellow) 90.3%, var(--basic-white) 90.3% 100%);
}
.header-logo:hover, 
.functions-right button:hover, 
nav a:hover, 
.footer-top-row button:hover, 
.footer-middle-row ul li a:hover, 
.sorting-categories button:hover{
    opacity: 60%;
}
.header-logo:active, 
.functions-right button:active, 
nav a:active, 
.footer-top-row button:active, 
.footer-middle-row ul li a:active, 
.sorting-categories button:active{
    opacity: 30%;
}
.header-logo-link{
    margin-bottom: 29px;
    margin-left: 60px;
    margin-top: 20px;
    height: 35px;
    width: 163px;
    display: block;
}
.functions{
    margin: 29px 60px 50px;
    display: flex;
}
.functions-left{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    
    opacity: 30%;
    background-color: var(--special-yellow);
    border: none;
    width: 50%;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.functions-left:hover{
    opacity: 60%;
}
.functions-left input:focus{
    opacity: 100%;
}
.functions-right{
    width: 50%;
    position: relative;
}
.user-header{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-right: 20px;
}
.exit-header{
    opacity: 30%;
}
.functions-right li:nth-child(1){
    position: absolute;
    top: 0;
    left: 44px;
}
.functions-right li:nth-child(2){
    position: absolute;
    top: 0;
    right: 123px;
}
.functions-right li:nth-child(3){
    position: absolute;
    top: 0;
    right: 0;
}
.functions-right button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    background-color: var(--special-yellow);
    border: none;
}
nav{
    margin: 50px 60px 18px;
    display: flex;
}
.nav-catalog{
    margin-bottom: 0;
}
.header-service-list{
    width: 50%;
    position: relative;
}
.header-service-list li{
    position: absolute;
    top: 0;
}
.header-service-list li:nth-child(1){
    left: 20px;
}
.header-service-list li:nth-child(2){
    right: 230px;
}
.header-service-list li:nth-child(3){
    right: 0;
}
nav a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    text-transform: uppercase;
    width: 50%;
}
nav a{
    letter-spacing: 0.1em;
}
nav .header-service-list a{
    letter-spacing: 0.2em;
}
footer{
    background-color: var(--basic-dark);
    margin-top: 86px;
}
.footer-catalog{
    margin-top: 0;
}
.footer-top-row, 
.footer-middle-row, 
.footer-bottom-row{
    display: flex;
}
.footer-article{
    width: 1180px;
    height: auto;
    margin: 0 auto;
    padding: 46px 10px 64px;
}
.footer-top-row{
    margin-bottom: 39px;
}
.footer-top-row a{
    width: 50%;
    margin-top: 18px;
}
.footer-top-row ul{
    width: 50%;
    text-align: right;
}
.footer-top-row ul li:not(:nth-child(1)){
    margin-left: 62px;
}
.exit-footer{
    margin-left: 24px;
}
.footer-logo:hover{
    opacity: 60%;
}
.footer-logo:active{
    opacity: 30%;
}
.footer-top-row button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    
    color: var(--basic-white);
    opacity: 70%;
    background-color: var(--basic-dark);
    border: none;
}
.footer-top-row button:hover{
    opacity: 100%;
}
.footer-top-row button:active{
    opacity: 30%;
}
.footer-middle-row{
    margin: 39px 0 66px;
}
.footer-middle-row address{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
    width: 20%;
    text-align: left;
}
.footer-middle-row ul{
    width: 60%;
    text-align: center;
}
.footer-middle-row ul li:nth-child(1),
.footer-middle-row ul li:nth-child(2){
    margin-right: 36px;
}
.footer-middle-row ul li a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}
.phone-number{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
    width: 20%;
    text-align: right;
}
.footer-bottom-row{
    margin-top: 66px;
}
.footer-bottom-row div{
    width: 33.33%;
}
.footer-bottom-row ul{
    width: 33.33%;
    text-align: center;
}
.footer-bottom-row ul li:nth-child(1),
.footer-bottom-row ul li:nth-child(2){
    margin-right: 20px;
}
.footer-bottom-row a{
    background-color: var(--basic-white);
    opacity: 30%;
    width: 33.33%;
    text-align: right;
}
.footer-bottom-row a:hover{
    opacity: 60%;
}
.footer-bottom-row a:active{
    opacity: 10%;
}
.academy-logo{
    background-color: var(--special-yellow-dark);
    opacity: 100%;
}
.academy-logo{
    opacity: 60%;
}
.academy-logo{
    opacity: 30%;
}
/* _______________________index_____________ */
.ad-list{
    max-width: 1024px;
    margin: 18px 47px 0px 89px;
}
.ad-list div{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
    position: absolute;
    right: 0;
}
.ad-list h1{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-bottom: 30px;
    margin-top: 110px;
}
.ad-list p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin: 30px 0 60px;
    max-width: 478px;
}
.ad-list a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.ad-list a:active{
    opacity: 30%;
}
.ad-scroll{
    display: inline;
    position: absolute;
    right: 0;
}
.ad-scroll li:not(:last-child){
    margin-right: 18px;
}
.ad-list h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 15px;
}
.ad-list span{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    
    letter-spacing: 0.1em;
}
.features{
    display: flex;
    margin: 60px 0 20px;
}
.features li:not(:last-child){
    margin-right: 65px;
}
.ad-item{
    display: flex;
}
.left-ad-block{
    width: 50%;
}
.left-ad-block img{
    margin: 17px 0 3px;
}
.right-ad-block{
    width: 50%;
    position: relative;
}
.categories{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;

    max-width: 1180px;
    padding: 0 10px;
    margin: 432px auto 49px;
}
.categories ul{
    display: flex;
}
.categories li{
    width: 16.66%;
}
.categories li:not(:last-child){
    margin-right: 40px;
}
.category-block{
    background-color: var(--special-yellow);
    width: 160px;
    height: 160px;
    margin-bottom: 38px;
    display: flex;
}
.category-block:hover{
    background-color: var(--special-yellow-dark);
}
.category-block:active{
    opacity: 30%;
}
.category-block img{
    display: block;
    margin: 0 auto;
}
.without-letterspasing{
    letter-spacing: 0em;
}
.service{
    max-width: 1440px;
    margin: 49px auto 90px;
    display: flex;
    background: linear-gradient(to top, var(--basic-gray-light) 71.46%, var(--basic-white) 71.46% 100%);
}
.service-left{
    padding:  89px 162px 86px 0;
    margin: 15px 0 68px 140px;
    border-right: 7px solid var(--basic-black);
}
.service-left li{
    display: block;
}
.service-left li:nth-child(1){
    margin-bottom: 39px;
}
.service-left li:nth-child(2){
    margin-bottom: 40px;
}

.service-left button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    background-color: var(--basic-gray-light);
}
.service-left button:active{
    color: var(--special-yellow);
}
.service-right{
    width: 758px;
    margin: 86px 142px 135px 116px;
    position: relative;
}
.service-right h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    
    letter-spacing: 0.2em;
    margin: 0;
    margin-bottom: 40px;
}
.service-right p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    
    letter-spacing: 0.1em;
    max-width: 495px;
    display: inline-block;
    margin: 0;
}
.service-right img{
    position: absolute;
    top: 0;
    right: 0;
}
.companies-list{
    max-width: 1180px;
    padding: 0 10px;
    margin: 90px auto;
}
.companies-list ul{
    display: flex;
}
.companies-list li{
    width: 25%;
}
.companies-list li:not(:last-child){
    margin-right: 40px;
}
.companies-list a{
    width: 260px;
    height: 100px;
    display: block;
    background-size: contain;
}
.company-1{
    background-image: url("../img/logo-1-2.png");
}
.company-2{
    background-image: url("../img/logo-2-2.png");
}
.company-3{
    background-image: url("../img/logo-3-2.png");
}
.company-4{
    background-image: url("../img/logo-4-2.png");
}
.company-1:hover{
    background-image: url("../img/logo-1.png");
}
.company-2:hover{
    background-image: url("../img/logo-2.png");
}
.company-3:hover{
    background-image: url("../img/logo-3.png");
}
.company-4:hover{
    background-image: url("../img/logo-4.png");
}
.block-info{
    display: flex;
    margin: 90px auto 86px;
    padding: 0 10px;
    width: 1180px;
}
.contacts h2, .about-us h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}
.contacts{
    padding-left: 20px;
    width: 50%;
}
.about-us{
    width: 50%;
}
.contacts h2, .about-us h2{
    margin: 50px 0;
}
.contacts p, .about-us-1-par, .about-us-2-par{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.contacts p{
    max-width: 510px;
    margin: 50px 0 40px;
}
.about-us-1-par{
    max-width: 420px;
    margin: 50px 0 40px;
}
.about-us-2-par{
    max-width: 473px;
    margin: 40px 0 60px;
}
.about-us ul li{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    display: block;
}
.about-us li:nth-child(1), .about-us li:nth-child(2){
    margin-bottom: 20px;
}
.about-us ul, .contacts img{
    margin-bottom: 85px;
}
.contacts img{
    display: block;
}
.contacts a, .about-us a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.contacts a:active, .about-us a:active{
    opacity: 60%;
}
/* _______________________catalog______ */
.main-header{
    max-width: 1060px;
    padding: 0 10px;
    margin: 44px auto 50px;
}
.main-header h1{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-bottom: 30px;
}
.main-header ul{
    margin-top: 30px;
}
.main-header ul li:not(:last-child){
    margin-right: 40px;
}
.main-header ul li a{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    opacity: 30%;
}
.main-header ul li a:hover{
    opacity: 60%;
}
.main-header ul li a:active{
    opacity: 10%;
}
.form-header, .product-sorting-header{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.form-header{
    background-color: #dcdcdc;
}
.sorting-categories button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    opacity: 30%;
    border: none;
    background-color: var(--basic-gray-light);
}
.product-sorting-panel{
    background-color: var(--basic-gray-light)
}
.products-main-container{
    margin: 50px auto 0; 
    max-width: 1460px;
    padding: 0 10px; 
    display: flex;
}
.sidebar{
    max-width: 468px;
    background-color: var(--basic-gray-light);
}
.form-header{
    padding: 25px 193px 25px 200px;
}
.aside-form{
    padding: 70px 68px 520px 200px;
}
.aside-form div label{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;

    display: block;
    width: 200px;
    padding-top: 14px;
    border-top: 2px solid var(--basic-black);
}
.aside-form form div:nth-child(1) ul{
    margin: 30px auto 38px;
}
.aside-form form div:nth-child(2) ul{
    margin: 30px auto 37px;
}
.aside-form form div:nth-child(3) ul{
    margin: 30px auto 50px;
}
.aside-form form div:nth-child(2) ul li:not(:last-child){
    margin-bottom: 15px;
}
.aside-form form div:nth-child(3) ul li:not(:last-child){
    margin-bottom: 16px;
}
.aside-form form div li{
    display: block;
}
.aside-form form div li input{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.aside-form form div:nth-child(1) li input{
    width: 200px;
}
.aside-form form div:nth-child(2) li input{
    margin-right: 18px;
}
.aside-form form div:nth-child(3) li input{
    margin-right: 16px;
}
.aside-form form div ul li input:checked:hover, 
.aside-form form div ul li input:hover{
    opacity: 60%;
}
.aside-form form div ul li input:disabled:hover, 
.aside-form form div ul li input:disabled:hover{
    opacity: 25%;
}
.aside-button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    background-color: var(--basic-gray-light);
}
.products-main{
    max-width: 972px;
}
.product-sorting-panel{
    padding: 25px 140px 25px 72px;
    display: flex;
}
.product-sorting-header{
    margin-right: 74px;
}
.sorting-categories li:not(:last-child){
    margin-right: 30px;
}
.buttons-sorting-categories{
    margin-left: 219px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0 0 72px;
}
.product-list li{
    position: relative;
}
.product-list li:nth-child(odd){
    margin-right: 40px;
}
.item-img{
    width: 360px;
    height: 380px;
    margin-bottom: 30px;
    display: block;
}
.product-text{
    max-width: 360px;
    display: flex;
    margin-bottom: 48px;
}
.item-name{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    vertical-align: center;
    width: 75%;
}
.item-cost{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: right;
    width: 25%;
}
.new-item{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    opacity: 30%;
    text-transform: uppercase;

    position: absolute;
    top: 29px;
    right: 27px;
    border: 2px solid var(--basic-gray);
    padding: 23px 17px;
    border-radius: 500px;
}
.product-scroll{
    max-width: 760px;
    margin: 40px 140px 78px 72px;
    display: flex;
    padding: 25px 30px;
}
.product-scroll, .product-scroll button{
    background-color: var(--basic-gray-light);
}
.product-scroll button{
    border: none;
}
.number{
    width: 33.33%;
    text-align: center;
}
.number li:not(:last-child){
    margin-right: 30px;
}
.number button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    opacity: 30%;
}
.number button:hover{
    opacity: 60%;
}
.number button:active{
    opacity: 100%;
}
.back, .next{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 33.33%;
}
.back{
    text-align: left;
}
.next{
    text-align: right;
}
.back:hover, .next:hover{
    background-color: var(--basic-gray-light);
}
.back:active, .next:active{
    opacity: 30%;
    background-color: var(--basic-gray-light)
}
.footer-user{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
    opacity: 70%;
}