/* ____________________global_______________ */
:root{
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-gray: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-gray-light: #E5E5E5;
    --basic-white: #FFFFFF;
  
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
    --special-yellow: #F7E296;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
body{
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--basic-black);
} 
img{
    max-width: 100%;
    height: auto;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
ul, li, button, input{
    margin: 0;
    padding: 0;
}
fieldset{
    margin: 0;
    padding: 0;
    border: none;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.element-display-none{
    display: none;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
}
.element-display-block{
    display: block;
}
/* _________________common_____________ */
header{
    background-color: var(--special-yellow);
    width: 1160px;
    height: 344px;
    position: relative;
    padding: 0;
    margin: 20px auto 0px;
    background: linear-gradient(to top, var(--basic-white) 7%, var(--special-yellow) 7% 94.4%, var(--basic-white) 94.4% 100%);
}
.header-catalog{
    height: auto;
    padding-bottom: 32px;
    margin-bottom: 44px;
    background: linear-gradient(to top, var(--special-yellow) 90.3%, var(--basic-white) 90.3% 100%);
}
.header-logo:hover, 
.functions-right button:hover, 
nav a:hover, 
.footer-top-row button:hover, 
.footer-middle-row ul li a:hover, 
.sorting-categories button:hover{
    opacity: 60%;
}
.header-logo:active, 
.functions-right button:active, 
nav a:active, 
.footer-top-row button:active, 
.footer-middle-row ul li a:active, 
.sorting-categories button:active{
    opacity: 30%;
}
.header-logo-link{
    margin-bottom: 29px;
    margin-left: 60px;
    margin-top: 20px;
    height: 35px;
    width: 163px;
    display: block;
}
.functions{
    margin: 29px 60px 50px;
    display: flex;
}
.functions-left{
    width: 50%;
    padding-left: 38px;
    position: relative;
}
.functions-left input{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    
    opacity: 30%;
    background-color: var(--special-yellow);
    border: none;
    position: relative;
}
.functions-left::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  
    width: 16px;
    height: 16px;
    background-image: url("../img/svg-device/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.functions-left input:hover{
    opacity: 60%;
}
.functions-left input:focus{
    opacity: 100%;
}
.functions-left hr{
    position: absolute;
    top: 30px;
    right: 80px;
    width: 440px;
    height: 2px;
    background-color: var(--basic-black);
    border: none;
}
.functions-left button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

    position: absolute;
    top: -15px;
    right: 80px;
    padding: 15px 17px;
    border: 2px solid var(--basic-black);
    background-color: var(--special-yellow);
}
.functions-left button:hover{
    color: var(--basic-white);
    background-color: var(--basic-black);
}
.functions-left button:active{
    color: rgba(255, 255, 255, 0.3);
}
.functions-right{
    width: 50%;
    position: relative;
}
.user-header{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-right: 16px;
    position: relative;
}
.exit-header{
    opacity: 30%;
}
.functions-right li:nth-child(1){
    position: absolute;
    top: 0;
    left: 44px;
}
.functions-right li:nth-child(2){
    position: absolute;
    top: 0;
    right: 124px;
}
.functions-right li:nth-child(3){
    position: absolute;
    top: 0;
    right: 0;
}
.functions-right button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    background-color: var(--special-yellow);
    border: none;
    position: relative;
}
.functions-button-1::before{
    content: "";
    position: absolute;
    top: 3px;
    left: -24px;
  
    width: 13px;
    height: 12px;
    background-image: url("../img/svg-device/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.functions-button-2::before{
    content: "";
    position: absolute;
    top: 3px;
    left: -24px;
  
    width: 13px;
    height: 12px;
    background-image: url("../img/svg-device/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.functions-button-3::before{
    content: "";
    position: absolute;
    top: 3px;
    left: -24px;
  
    width: 13px;
    height: 12px;
    background-image: url("../img/svg-device/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}



nav{
    margin: 50px 60px 18px;
    display: flex;
}
.nav-catalog-li{
    position: relative;
    margin-right: 344px;
}
.nav-catalog-a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.nav-catalog-li:hover .cat-list{
    display: flex;
    z-index: 5;
    position: absolute;
    top: 21px;
    left: -60px;
    width: 1160px;
    padding: 30px 60px 46px;
    background-color: var(--special-yellow);
}
.nav-catalog-li::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 210px;
  
    width: 16px;
    height: 16px;
    opacity: 30%;
    background-image: url("../img/svg-device/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.nav-service-a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.nav-service-li-1{
    margin-right: 31px;
}
.nav-service-li-2{
    margin-right: 100.1px;
}



.cat-list{
    display: none;
}
.cat-list li{
    display: block;
    height: 16px;
}
.cat-list ul:not(:last-child){
    margin-right: 61px;
}
.cat-list ul li:not(:last-child){
    margin-bottom: 20px;
}
.cat-list a{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
.cat-list a:hover{
    opacity: 60%;
}
.cat-list a:active{
    opacity: 30%;
}


footer{
    background-color: var(--basic-dark);
    margin-top: 86px;
}
.footer-catalog{
    margin-top: 0;
}
.footer-top-row, 
.footer-middle-row, 
.footer-bottom-row{
    display: flex;
}
.footer-article{
    width: 1160px;
    height: auto;
    margin: 0 auto;
    padding: 46px 0px 64px;
}
.footer-top-row{
    margin-bottom: 35px;
}
.footer-logo{
    width: 50%;
    margin-top: 18px;
}
.footer-top-row ul{
    width: 50%;
    text-align: right;
}
.footer-top-row ul li{
    position: relative;
}
.footer-top-row ul li:not(:nth-child(1)){
    margin-left: 62px;
}
.exit-footer{
    margin-left: 19px;
}
.footer-top-row-button-1::after{
    content: "";
    position: absolute;
    top: 3px;
    left: -23px;
  
    width: 13px;
    height: 12px;
    background-image: url("../img/svg-device/user-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer-top-row-button-2::after{
    content: "";
    position: absolute;
    top: 5px;
    left: -21px;
  
    width: 10px;
    height: 10px;
    background-image: url("../img/svg-device/compare-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer-top-row-button-3::after{
    content: "";
    position: absolute;
    top: 3px;
    left: -24px;
  
    width: 12px;
    height: 12px;
    background-image: url("../img/svg-device/cart-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer-logo a:hover{
    opacity: 60%;
}
.footer-logo a:active{
    opacity: 30%;
}
.footer-top-row button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    
    color: var(--basic-white);
    opacity: 70%;
    background-color: var(--basic-dark);
    border: none;
}
.footer-top-row button:hover{
    opacity: 100%;
}
.footer-top-row button:active{
    opacity: 30%;
}
.footer-middle-row{
    margin: 35px 0 66px;
}
.footer-middle-row address{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
    width: 20%;
    text-align: left;
}
.footer-middle-row ul{
    width: 60%;
    text-align: center;
}
.footer-middle-row ul li:nth-child(1),
.footer-middle-row ul li:nth-child(2){
    margin-right: 28px;
}
.footer-middle-row ul li a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}
.phone-number{
    width: 20%;
    text-align: right;
}
.phone-number a{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
}
.footer-bottom-row{
    margin-top: 66px;
}
.footer-bottom-row div{
    width: 33.33%;
    position: relative;
}
.footer-bottom-row hr{
    width: 80px;
    height: 7px;
    background-color: var(--special-yellow-dark);
    border: none;
    position: absolute;
    margin: 12px 0 0 0;
}
.social-links{
    width: 33.33%;
    text-align: center;
}
.social-links img{
    opacity: 30%;
}
.social-links img:hover{
    opacity: 60%;
}
.social-links img:active{
    opacity: 10%;
}
.social-links li:nth-child(1),
.social-links li:nth-child(2){
    margin-right: 16px;
}
.academy-logo{
    text-align: right;
}
.academy-logo a:hover{
    opacity: 60%;
}
.academy-logo a:active{
    opacity: 10%;
}
/* _______________________index_____________ */
.ad-list-container{
    position: relative;
    width: 1024px;
    margin: 0 auto;
}
.ad-list{
    position: absolute;
}
.ad-item-ul{
    position: relative;
}
.ad-item-li{
    position: absolute;
    top: -622px;
    left: 20px;
}
.right-ad-block hr{
    width: 100px;
    height: 7px;
    background-color: var(--basic-white);
    border: none;
    position: absolute;
    top: 44px;
    right: 413px;
}
.ad-number{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
    position: absolute;
    right: 0;
}
.ad-list h1{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-bottom: 30px;
    margin-top: 110px;
    position: absolute;
    z-index: 2;
}
.ad-list p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin: 30px 0 60px;
    margin: 252px 0 60px;
}
.right-ad-block-p-1{
    max-width: 478px;
}
.right-ad-block-p-2{
    max-width: 452px;
}
.right-ad-block-p-3{
    max-width: 452px;
}
.ad-list a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0 42px 0 44px;
    background: linear-gradient(to top, var(--basic-white) 31.81%, var(--special-yellow-dark) 31.81% 68.17%, var(--basic-white) 68.17% 100%);
}
.ad-list a:hover{
    padding-top: 9px;
    padding-bottom: 9px;
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
}
.ad-list a:active{
    opacity: 30%;
    padding-top: 9px;
    padding-bottom: 9px;
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
}
.ad-scroll{
    display: inline;
    position: absolute;
    right: 41px;
}
.ad-scroll li{
    position: relative;
}
.ad-scroll li:not(:last-child){
    margin-right: 14px;
}
.ad-scroll button{
    width: 12px;
    height: 12px;
    border: none;
    background-color: var(--basic-white);
}
.ad-scroll-button-selected::after{
    content: "";
    position: absolute;
    top: 4px;
    right: 6px;
  
    width: 12px;
    height: 12px;
    background-image: url("../img/svg-device/slider-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}
.ad-scroll-button-empty::after{
    content: "";
    position: absolute;
    top: 4px;
    right: 6px;
  
    width: 12px;
    height: 12px;
    background-image: url("../img/svg-device/slider-button-empty.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}
.ad-list h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 11px;
}
.ad-list span{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    
    letter-spacing: 0.1em;
}
.ad-list-last-span{
    margin-left: 6px;
}
.features{
    display: flex;
    margin: 60px 0 20px;
}
.features li:not(:last-child){
    margin-right: 60px;
}
.features-3{
    display: flex;
    margin: 60px 0 20px;
}
.features-3 li:not(:last-child){
    margin-right: 25px;
}
.ad-item{
    display: flex;
    width: 1024px;
}
.left-ad-block{
    width: 50%;
}
.ad-list-img-1{
    padding-top: 17px;
}
.ad-list-img-2{
    position: relative;
    top: 43px;
    left: 27px;
}
.ad-list-img-3{
    position: relative;
    top: 99px;
    left: -59px;
    width: 526px;
}
.right-ad-block{
    width: 50%;
    position: relative;
}
.categories{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;

    max-width: 1160px;
    padding: 0;
    margin: 452px auto 49px;
}
.categories ul{
    display: flex;
}
.categories li{
    width: 16.66%;
}
.categories li:not(:last-child){
    margin-right: 40px;
}
.category-block{
    background-color: var(--special-yellow);
    width: 160px;
    height: 160px;
    margin-bottom: 38px;
    display: flex;
}
.category-block:hover{
    background-color: var(--special-yellow-dark);
}
.category-block:active{
    opacity: 30%;
}
.category-block img{
    display: block;
    margin: 0 auto;
}
.without-letterspasing{
    letter-spacing: 0em;
}
.service{
    width: 100%;
    background: linear-gradient(to top, var(--basic-gray-light) 71.46%, var(--basic-white) 71.46% 100%);
}
.container-service{
    max-width: 1160px;
    padding: 0 0px 68px 0px;
    margin: 69px auto 90px;
    display: flex;
}
.service-left{
    width: 284px;
    padding-top: 80px;
    margin: 15px 0 0 0px;
    border-right: 7px solid var(--basic-black);
}
.service-left li{
    display: block;
}
.service-left-selected-li{
    background-color: var(--basic-black);
}
.service-left button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
}
.service-left-button-1-1,
.service-left-button-2-2,
.service-left-button-3-3{
    background: linear-gradient(to top, var(--basic-black) 0% 100%);
    color: var(--special-yellow);
}
.service-left-button-1-1{
    margin: 9px 0 9px 19px;
}
.service-left-button-2-2{
    margin: 9px 0 9px 24px;
}
.service-left-button-3-3{
    margin: 9px 0 9px 38px;
}
.service-left-button-1-2,
.service-left-button-1-3,
.service-left-button-2-3,
.service-left-button-3-2{
    background: linear-gradient(to top, var(--basic-gray-light) 31.81%, var(--special-yellow-dark) 31.81% 68.17%, var(--basic-gray-light) 68.17% 100%);
}
.service-left-button-2-1,
.service-left-button-3-1{
    background: linear-gradient(to top, var(--basic-gray-light) 31.81%, var(--special-yellow-dark) 31.81% 68.17%, var(--basic-white) 68.17% 100%);

}
.service-left-button-1-2,
.service-left-button-3-2{
    padding: 0 24px;
}
.service-left-button-1-2{
    margin: 30px 0 20px 0;
}
.service-left-button-3-2{
    margin: 20px 0 30px;
}
.service-left-button-1-3,
.service-left-button-2-3{
    padding: 0 38px;
}
.service-left-button-1-3{
    margin-top: 20px;
}
.service-left-button-2-3{
    margin-top: 30px;
}
.service-left-button-2-1,
.service-left-button-3-1{
    padding: 0 19px;
}
.service-left-button-2-1{
    margin: 9px 0 30px;
}
.service-left-button-3-1{
    margin: 9px 0 20px;
}
.service-left-button-1-2:hover,
.service-left-button-1-3:hover,
.service-left-button-2-1:hover,
.service-left-button-2-3:hover,
.service-left-button-3-1:hover,
.service-left-button-3-2:hover{
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
    padding-top: 9px;
    padding-bottom: 9px;
}
.service-left-button-1-2:hover{
    margin: 21px 0 11px;
}
.service-left-button-1-3:hover{
    margin-top: 11px;
}
.service-left-button-2-1:hover{
    margin: 0 0 21px;
}
.service-left-button-2-3:hover{
    margin: 21px 0 0px;
}
.service-left-button-3-1:hover{
    margin: 0 0 11px;
}
.service-left-button-3-2:hover{
    margin: 11px 0 21px;
}
.service-right{
    width: 758px;
    height: 182px;
    margin: 86px 0px 67px 116px;
    position: relative;
}
.service-right li{
    position: absolute;
}
.service-right li h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    
    letter-spacing: 0.2em;
    margin: 0;
    margin-bottom: 40px;
}
.service-right li p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    
    letter-spacing: 0.1em;
    display: inline-block;
    margin: 0;
}
.service-right li img{
    position: absolute;
}
.service-right-1{
    top: 0;
    left: 622px;
}
.service-right-2{
    top: -18px;
    left: 605px;
}
.service-right-3{
    top: -23px;
    left: 596px;
}
.companies-list{
    max-width: 1160px;
    padding: 0;
    margin: 90px auto;
}
.companies-list ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.companies-list ul li{
    position: relative;
}
.companies-list li:not(:last-child){
    margin-right: 40px;
}
.companies-list a{
    width: 260px;
    height: 100px;
    display: block;
    background-size: contain;
}
.companies-list a:hover .companies-list-visible-img{
    display: none;
}
.companies-list a:hover .companies-list-hidden-img{
    display: block;
}
.companies-list-visible-img{
    display: block;
}
.companies-list-hidden-img{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.block-info{
    display: flex;
    margin: 90px auto 86px;
    padding: 0;
    width: 1160px;
    position: relative;
}
.block-info hr{
    width: 80px;
    height: 7px;
    margin: 0 0 50px;
    padding: 0;
    border: none;
    background-color: var(--basic-black);
}
.contacts h2, .about-us h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    margin: 50px 0 40px;
}
.contacts{
    padding-left: 20px;
    width: 50%;
}
.about-us{
    width: 50%;
}
.contacts p, .about-us-1-par, .about-us-2-par{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.contacts p{
    max-width: 510px;
    margin: 40px 0 40px;
}
.about-us-1-par{
    max-width: 420px;
    margin: 40px 0 40px;
}
.about-us-2-par{
    max-width: 473px;
    margin: 40px 0 62px;
}
.about-us ul li{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    display: block;
    margin-left: 32px;
    position: relative;
}
.about-us ul li::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -32px;
  
    width: 4px;
    height: 4px;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-gray-light);
    border-radius: 50%;
    background-position: 0 0;
}
.about-us li:nth-child(1), .about-us li:nth-child(2){
    margin-bottom: 20px;
}
.about-us ul{
    margin-bottom: 83px;
}
.contacts img{
    margin-bottom: 85px;
}
.contacts img{
    display: block;
}
.map-window{
    position: absolute;
    top: 36px;
    right: 92px;
}
.map-window div{
    position: relative;
}
.map-window button{
    position: absolute;
    top: 29px;
    right: 36px;
    background-image: url("../img/svg-device/modal-close.svg");
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    opacity: 50%;
}
.map-window button:hover{
    opacity: 100%;
}
.map-window button:active{
    opacity: 30%;
}
.contacts a, .about-us a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: linear-gradient(to top, var(--basic-white) 31.81%, var(--special-yellow-dark) 31.81% 68.17%, var(--basic-white) 68.17% 100%);
}
.about-us-link{
    padding: 0 18px 0 24px; 
}
.contacts-link{
    padding: 0 40px; 
}
.block-info-link:hover{
    padding-top: 9px;
    padding-bottom: 9px;
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
}
.block-info-link:active{
    opacity: 60%;
    padding-top: 9px;
    padding-bottom: 9px;
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
}
.form-window{
    position: absolute;
    top: -623px;
    right: 109px;
    max-width: 960px;
    background-color: var(--basic-white);
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}
.form-window-close{
    position: relative;
}
.form-window-close button{
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../img/svg-device/modal-close.svg");
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    opacity: 50%;
}
.form-window-close button:hover{
    opacity: 100%;
}
.form-window-close button:active{
    opacity: 30%;
}
.form-window form{
    margin: 92px 100px 0;
}
.form-window label{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.form-window section{
    display: flex;
    margin-bottom: 32px;
}
.form-window section div{
    width: 50%;
}
.form-window-email{
    padding-left: 20px;
}
.form-window label{
    margin-bottom: 10px;
}
.form-window section div input,
.form-window textarea{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    opacity: 40%;

    background-color: #F2F2F2;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
}
.form-window section div input{
    width: 360px;
    height: 50px;
}
.form-window textarea{
    width: 760px;
    height: 167px;
    padding-top: 16px;
}
.form-window section div input:hover, .form-window textarea:hover{
    background-color: #EAEAEA;
}
.form-window section div input:focus, .form-window textarea:focus{
    background-color: var(--basic-white);
    border: 2px solid var(--special-yellow);
    opacity: 100%;
    outline: none;
}
.form-submit{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    background: linear-gradient(to top, var(--basic-white) 31.81%, var(--special-yellow) 31.81% 68.17%, var(--basic-white) 68.17% 100%);
    padding: 0 35px 0 34px;
    margin: 54px 0 69px;
    border: none;
}
.form-submit:hover{
    margin: 45px 0 60px;
    padding: 9px 35px 9px 34px;
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
}
.form-submit:active{
    margin: 45px 0 60px;
    padding: 9px 35px 9px 34px;
    background: linear-gradient(to top, var(--special-yellow) 0% 100%);
    opacity: 60%;
}

/* _______________________catalog______ */
.main-header{
    max-width: 1060px;
    margin: 44px auto 15px;
    padding-left: 10px;
}
.main-header h1{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin: 0;
}
.main-path{
    max-width: 1060px;
    margin: 15px auto 48px;
    padding-left: 10px;
}
.main-path ul{
    margin-top: 30px;
    position: relative;
}
.main-path ul li:not(:last-child){
    margin-right: 35px;
}
.main-path ul li:not(:last-child)::after{
    content: "";
    position: absolute;
    top: 8px;
  
    width: 4px;
    height: 7px;
    background-image: url("../img/svg-device/nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.main-path ul li:nth-child(1):after{
    left: 69px;
}
.main-path ul li:nth-child(2):after{
    left: 222px;
}
.main-path ul li a{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    opacity: 30%;
}
.main-path ul li a:hover{
    opacity: 60%;
}
.main-path ul li a:active{
    opacity: 10%;
}
.form-header, .product-sorting-header{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.container-head{
    display: grid;
    grid-template-columns: 1fr 328px 832px 1fr;
}
.container-head-left-side-block{
    background-color: #dcdcdc;
}
.container-head-right-side-block{
    background-color: var(--basic-gray-light);
}
.products-container{
    margin: 0 auto; 
    width: 100%;
    padding: 0; 
    display: grid;
    grid-template-columns: 1fr 328px 832px 1fr;
}
.products-container-left-side-block{
    background-color: var(--basic-gray-light);
}
.products-container-right-side-block{

}
.sidebar{
    max-width: 468px;
    background-color: var(--basic-gray-light);
}
.form-header{
    background-color: #dcdcdc;
    padding: 25px 193px 25px 60px;
}
.aside-form{
    margin: 70px 68px 0 60px;
}
.aside-form legend{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;

    display: block;
    width: 200px;
    padding-top: 14px;
    padding-left: 0;
    padding-right: 0;
    border-top: 2px solid var(--basic-black);
}
.aside-form fieldset:not(:first-child) label{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    position: relative;
    display: block;
    margin-left: 42px;
}

  
.range-filter{
    width: 200px;
    margin-top: 39px;
    margin-bottom: 35px;
}
.filter-item legend{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
} 
.range-controls{
    position: relative;
    border-radius: 5px;
    margin-bottom: 14px;
}
.range-controls .scale{
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar{
    width: 60%;
    height: 2px;
    background: var(--special-green);
}
.range-controls .toggle{
    position: absolute;
    top: -9px;
    left: 0;
    width: 20px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--basic-gray-light);
}
.range-controls .toggle::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 23px;

    background-image: url("../img/svg-device/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
/* .range-controls .toggle-min{
    
} */
.range-controls .toggle-max{
    left: 114px;
} 
/* .price-controls{

} */
.price-controls label{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.price-controls input{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    width: 60px;
    padding: 2px;
    border: none;
    background-color: var(--basic-gray-light);
}
.min-price{
    margin-right: 15px;
}
input[type='number']{
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}



.aside-form fieldset:nth-child(2) input + label::before{
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/svg-device/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.aside-form fieldset:nth-child(2) input:checked + label::after{
    content: "";
    position: absolute;
    left: -42px;
    width: 27px;
    height: 23px;
    background-image: url("../img/svg-device/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.aside-form fieldset:nth-child(3) input + label::before{
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url("../img/svg-device/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.aside-form fieldset:nth-child(3) input:checked + label::after{
    content: "";
    position: absolute;
    left: -42px;
    width: 25px;
    height: 25px;
    background-image: url("../img/svg-device/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.aside-form form fieldset:nth-child(1) ul{
    margin: 30px auto 38px;
}
.aside-form form fieldset:nth-child(2) ul{
    margin: 30px auto 41px;
}
.aside-form form fieldset:nth-child(3) ul{
    margin: 30px auto 0;
}
.aside-form form fieldset:nth-child(2) ul li:not(:last-child){
    margin-bottom: 20px;
}
.aside-form form fieldset:nth-child(3) ul li:not(:last-child){
    margin-bottom: 25px;
}
.aside-form form fieldset li{
    display: block;
}
.aside-form form fieldset li input{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.aside-form form fieldset:nth-child(1) li input{
    width: 200px;
}
.aside-form form fieldset:nth-child(2) li input{
    margin-right: 18px;
}
.aside-form form fieldset:nth-child(3) li input{
    margin-right: 16px;
}
.aside-form form fieldset ul li input:checked:hover, 
.aside-form form fieldset ul li input:hover{
    opacity: 60%;
}
.aside-form form fieldset ul li input:disabled:hover, 
.aside-form form fieldset ul li input:disabled:hover{
    opacity: 25%;
}
.aside-button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    background-color: var(--basic-gray-light);
    padding: 0 38px 0 37px;
    margin: 50px 0 520px;
    background: linear-gradient(to top, var(--basic-gray-light) 31.81%, var(--special-yellow-dark) 31.81% 68.17%, var(--basic-gray-light) 68.17% 100%);
}
.aside-button:hover{
    margin: 41px 0 511px;
    padding: 9px 38px 9px 37px;
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
}
.aside-button:active{
    margin: 41px 0 511px;
    padding: 9px 38px 9px 37px;
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
    opacity: 60%;
}
.products-main{
    max-width: 972px;
}
.sorting-categories{
    height: 20px;
}
.sorting-categories button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    border: none;
    background-color: var(--basic-gray-light);
}
.sorting-categories-button{
    opacity: 30%;
}
.sorting-categories-button-selected{
    opacity: 100%;
}
.product-sorting-panel{
    background-color: var(--basic-gray-light);
    padding: 25px 0px 25px 72px;
    display: flex;
}
.product-sorting-header{
    margin-right: 74px;
    height: 20px;
}
.sorting-categories li:not(:last-child){
    margin-right: 25px;
}
.buttons-sorting-categories{
    margin-left: 216px;
    position: relative;
    height: 20px;
}
.buttons-sorting-categories button{
    width: 18px;
    height: 18px;
    border: none;
    background-color: var(--basic-gray-light);
}
.button-sorting-categories-1{
    margin-right: 16px;
    opacity: 30%;
}
.button-sorting-categories-1::after,
.button-sorting-categories-2::after{
    content: "";
    position: absolute;
    top: 4px;

    width: 11px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.button-sorting-categories-1::after{
    left: 3.5px;
    background-image: url("../img/svg-device/icon-up-dir.svg");
}
.button-sorting-categories-2::after{
    right: 3.5px;
    background-image: url("../img/svg-device/icon-down-dir.svg");
}
.button-sorting-categories-1:hover,
.button-sorting-categories-2:hover{
    opacity: 60%;
}
.button-sorting-categories-1:active,
.button-sorting-categories-2:active{
    opacity: 100%;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0 0 72px;
}
.product-list li{
    position: relative;
}
.product-list li:hover .product-hover{
    display: block;
    position: absolute;
    width: 360px;
    height: 380px;
    background-color: rgba(229, 229, 229, 0.7);
}
.product-list li:nth-child(odd){
    margin-right: 40px;
}
.product-hover{
    display: none;
}
.product-hover-button-1{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    padding-right: 38px;
    padding-left: 37px;
    background: linear-gradient(to top, rgba(1, 1, 1, 0) 31.81%, var(--special-yellow-dark) 31.81% 68.17%, rgba(1, 1, 1, 0) 68.17% 100%);
    border: none;
    position: absolute;
    top: 180px;
    left: 80px;
}
.product-hover-button-1:hover{
    top: 170px;
    padding-top: 10px;
    padding-bottom: 8px;
    background: linear-gradient(to top, var(--special-yellow-dark) 0% 100%);
}
.product-hover-button-1:active{
    opacity: 30%;
}
.product-hover-button-2{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;

    opacity: 50%;
    background-color: rgba(1, 1, 1, 0);
    border: none;
    position: absolute;
    top: 224px;
    left: 97px;
}
.product-hover-button-2:hover{
    opacity: 100%;
}
.product-hover-button-2:active{
    opacity: 20%;
}
.item-img{
    width: 360px;
    height: 380px;
    margin-bottom: 30px;
    display: block;
}
.product-text{
    max-width: 360px;
    display: flex;
    margin-bottom: 48px;
    position: relative;
}
.product-text-bottom{
    max-width: 360px;
    display: flex;
}
.item-name{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    vertical-align: center;
    width: 76.1%;
}
.item-cost{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: right;
    width: 23.9%;
    position: absolute;
}
.item-cost-1{
    right: 10px;
}
.item-cost-2{
    right: 0px;
}
.item-cost-3{
    right: -5px;
}
.item-cost-4{
    right: -5px;
}
.new-item{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    opacity: 30%;
    text-transform: uppercase;

    position: absolute;
    top: 29px;
    right: 27px;
    border: 2px solid var(--basic-gray);
    padding: 23px 17px;
    border-radius: 500px;
}
.product-scroll{
    max-width: 760px;
    margin: 40px 0px 78px 72px;
    display: flex;
}
.product-scroll, .product-scroll button{
    background-color: #EBEBEB;
}
.product-scroll button{
    border: none;
}
.number{
    width: 33.33%;
    text-align: center;
    padding: 20px 0;
}
.number li:not(:last-child){
    margin-right: 18px;
}
.number button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    padding: 5px;
}
.product-scroll-button-1{
    opacity: 100%;
}
.product-scroll-button-2,
.product-scroll-button-3{
    opacity: 30%;
}
.number button:hover{
    opacity: 60%;
}
.number button:active{
    opacity: 100%;
}
.back button, .next button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 25px 30px;
}
.back{
    text-align: left;
    width: 33.33%;
}
.next{
    text-align: right;
    width: 33.33%;
}
.back button:hover, .next button:hover{
    background-color: #D9D9D9;
}
.back button:active, .next button:active{
    opacity: 30%;
}
.footer-user{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
    opacity: 70%;
}