/* ____________________global_______________ */
:root{
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-gray: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-gray-light: #E5E5E5;
    --basic-white: #FFFFFF;
  
    --special-green: #91C92F;
    --special-yellow-dark: #F7E296;
    --special-yellow: #F7E296;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
body{
    min-width: 1460px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: var(--basic-black);
} 
img{
    max-width: 100%;
    height: auto;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* _________________common_____________ */
header{
    background-color: var(--special-yellow);
}
.header-logo:hover, .right-section button:hover, nav a:hover, .footer-top-row button:hover, footer .footer-middle-row ul li a:hover{
    opacity: 60%;
}
.header-logo:active, .right-section button:active, nav a:active, .footer-top-row button:active, footer .footer-middle-row ul li a:active{
    opacity: 30%;
}
.left-section input{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    
    color: rgba(0, 0, 0, 0.3);
}
.left-section input:hover{
    opacity: 60%;
}
.left-section input:focus{
    opacity: 100%;
}
.right-section button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
nav a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
footer{
    background-color: var(--basic-dark);
}
.footer-logo:hover{
    opacity: 60%;
}
.footer-logo:active{
    opacity: 30%;
}
.footer-top-row button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    
    color: rgba(255, 255, 255, 0.7);
}
.footer-top-row button:hover{
    opacity: 100%;
}
.footer-top-row button:active{
    opacity: 30%;
}
.footer-middle-row address{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
}
.footer-middle-row ul li a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}
.phone-number{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
}
.footer-bottom-row a{
    background-color: var(--basic-white);
    opacity: 30%;
}
.footer-bottom-row a:hover{
    opacity: 60%;
}
.footer-bottom-row a:active{
    opacity: 10%;
}
.academy-logo{
    background-color: var(--special-yellow-dark);
    opacity: 100%;
}
.academy-logo{
    opacity: 60%;
}
.academy-logo{
    opacity: 30%;
}
/* _______________________index_____________ */
.ad-list div{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.ad-list h1{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}
.ad-list p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
.ad-list a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.ad-list a:active{
    opacity: 30%;
}
.ad-list h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    
    letter-spacing: 0.1em;
}
.ad-list span{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    
    letter-spacing: 0.1em;
}
.categories{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.service-left button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.service-left button:active{
    color: var(--special-yellow);
}
.service-right h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    
    letter-spacing: 0.2em;
}
.service-right p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    
    letter-spacing: 0.1em;
}
.contacts h2, .about-us h2{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}
.contacts p, .about-us p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}
.about-us li{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}
.contacts a, .about-us a{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.contacts a:active, .about-us a:active{
    opacity: 60%;
}
/* _______________________catalog______ */
.top-user{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
.main-header h1{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}
.main-header ul li a{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    opacity: 30%;
}
.main-header ul li a:hover{
    opacity: 60%;
}
.main-header ul li a:active{
    opacity: 10%;
}
.form-header, .product-sorting-header{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.form-header{
    background-color: #dcdcdc;
}
.sorting-categories button{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    opacity: 30%;
}
.product-sorting-panel{
    background-color: var(--basic-gray-light)
}
.aside-form{
    background-color: var(--basic-gray-light);
}
.aside-form label{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}
.aside-form form div li input{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.aside-form form div ul li input:checked:hover, .aside-form form div li input:hover{
    opacity: 60%;
}
.aside-form form div ul li input:disabled:hover, .aside-form form div li input:disabled:hover{
    opacity: 25%;
}
.aside-form form input{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.item-name{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.item-cost{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
}
.new-item{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    
    opacity: 30%;
}
.number button{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    opacity: 30%;
}
.number button:hover{
    opacity: 60%;
}
.number button:active{
    opacity: 100%;
}
.back, .next{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.back:active .next:active{
    opacity: 30%;
}
.footer-user{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
    opacity: 70%;
}